################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/Proceum.Desktop/bin
/Src/Proceum.Desktop/obj
/Src/Proceum.Setup/ProceumSetup-UAT-09-09-2022-MSI_V_2.0.0.1_V1.zip
/Src/Proceum.Setup/ProceumSetup-DEV-23-09-2022-MSI_V_2.0.0.1_V2.zip
/Src/Proceum.Setup/ProceumSetup-DEV-23-09-2022-MSI_V_2.0.0.1_V1.zip
